
* {
   box-sizing:border-box;
   
}

body {
    font-family: 'Avenir Next', sans-serif;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    font-size: 18px;
    
}

a {
  color: rgb(0, 0, 0);
}




.navbar{
    background-color: #000000;
    padding-bottom: 10px;

}
.nav-link {
    padding: 10px;
    list-style-type: none;
    color:white;
    font-size: 14px;

}

.nav-link:hover {
  color: #d2d6cf;
}

.nav-item{
    list-style-type: none;
    font-weight: bold;
    padding-bottom: 10px;
}

.navbar-brand{
    background-color: #000000;
    color: white;
    font-weight: bold;
    border: 0px;
}

.container_name {
    background-color: #000000;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    align-content: end;
    list-style-type: none;
    overscroll-behavior-x: none;
}
.container_name li a {
    padding: 5px;
    margin: auto;
    color: white;
    text-decoration: none;
    font-weight: bold;

}


#main {
    /* border: red solid 1px; */
    width: 80%;
    height: auto;
    align-self: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
}

main p {
    text-align: justify;
    
    
}

h1 {
    text-align: center;
    color: #000000;
}

h2 {
    text-align: left;
    color: black;
    font-size: 16px;
}

content {
    text-align: justify;

}

main leg {
    text-align: center;
    font-style: italic;
}

#painel {
    /* border: blue solid 1px; */
    width: auto;
    height: auto;
    justify-content: space-around;
    align-self: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.select {
    background-color: #B75D69; /* Green */
    border: none;
    border-radius: 6px;
    color: white;
    height: auto;
    width: 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: auto;

}




  #refs {
      text-align: left;
  }

img {
    display: flex;
    max-width: 479px;
    border: 0px solid #FFFFF;
    border-radius: 4px;
    padding: 5px;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container2 {
	width:100%;
	height:auto;
	padding:1%;
}

.sideby {
     margin-left:0%;
    float:left;
}


bottom {
    color: white;
}



:root {
  --container-bg-color: #000000;
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;

}


.navbar-toggler{
    background-color: #000000;
border:none;}

.button {
    background-color: #000000;
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  height: 2.5rem;
  padding-top: 1.3rem;
  width: 15rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);

}

.nav-link {
    font-size: 14px;

}
.split.left .button:hover {
  background-color: #000000;
}

.split.right .button:hover {
  background-color: #000000;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
    padding: 10px;
    background-color: #000000;
}

/*nav{*/
/*position:fixed !important;*/
/*width:100% !important*/
/*}*/

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left:0;
  background-color: black;
}

.split.left:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
background-color: black;
}


.split.right:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
background-color: black;
}

.split.left, .split.right, .split.right:before, .split.left:before {
  transition: var(--speed) all ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-left .right:before {
  z-index: 2;
}


.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

.hover-right .left:before {
  z-index: 2;
}

@media(max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  .button {
    width: 12rem;
  }
}

@media(max-height: 700px) {
  .button {
    top: 70%;
  }
}

div.code {
    display: none;
  width: 300px;
  margin: auto;
    visibility: hidden;

}

.buttonbw {
    width:100px;
    background-color: black;
    color: white;
    font-weight: bold;
    transition-duration: 0.4s;
   margin-bottom: 10px;
}

.buttonbw:hover {
  background-color: white; /* Green */
  color: black;
}

a.footnote {
  text-decoration:none;
  background-color: #FFFFFF;
  color: blue;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 2px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
} 

a.footnote span {
  z-index: -1;
  opacity: 0;
  position: fixed;
  left: 15px; 
  bottom: 20px;
  margin-left: 0px;
  margin-right: 18px;
  padding:14px 20px;
  border-radius:4px; box-shadow: 5px 5px 8px #CCC;
  border:4px solid #000000;
  color: #000000;
  background-color: #FFFFFF;
   font-family: 'Courier New', monospace;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

a.footnote:hover span {
  z-index: 9;
  opacity: 1;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

